<div class="banner">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="http://kenh14cdn.com/zoom/640_360/2019/11/4/ava-15728723990361998406171-crop-157287249876661237175.gif " height="490px"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="http://kenh14cdn.com/zoom/640_360/2019/11/4/ava-15728723990361998406171-crop-157287249876661237175.gif " height="490px"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="http://kenh14cdn.com/zoom/640_360/2019/11/4/ava-15728723990361998406171-crop-157287249876661237175.gif " height="490px"
                class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

