<div class="news">
  <div class="row">
    <h2>Home</h2>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <img
          src="https://miro.medium.com/max/4688/1*ebZACpKYmntbmCYenIFCWg.jpeg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          src="https://miro.medium.com/max/4688/1*ebZACpKYmntbmCYenIFCWg.jpeg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img
          src="https://miro.medium.com/max/4688/1*ebZACpKYmntbmCYenIFCWg.jpeg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


    <div class="col-4">
        <div class="card">
          <img
            src="https://miro.medium.com/max/3115/1*Fh30fvKEQUioMSSqd1-sgA.png"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      
    <div class="col-4">
        <div class="card">
          <img
            src="https://miro.medium.com/max/3125/1*Wmnc0kicfz5t3EzqT-iodw.jpeg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      
    <div class="col-4">
        <div class="card">
          <img
            src="https://miro.medium.com/max/1723/1*VGQHRqYsHhR2GpY4gQqylw.jpeg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>


  </div>
</div>