
<p></p>

<div class="product">
        <div class="row">
                <h2>Products</h2>
              </div>
    <div class="row">

        <div class="col-4">
            <div class="card">
                <img src="{{product.linkImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">
                       <li>id : {{product.id}}</li> 
                       <li> name: {{product.name}}</li> 
                       <li>price : {{product.price}}</li> 
                     <li>desc : {{product.desc}}</li>   
                    </p>
                    <!-- <a href="{{ product.linkProfile}}" class="btn btn-primary">Buy</a> -->
                    <input type="text" (keyup) ="handleKeyUp($event)" class="form -control mt-3">

                </div>
            </div>
        </div>





        <div class="col-4">
            <div class="card">
                <img src="{{product.linkImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">
                       <li>id : {{product.id}}</li> 
                       <li> name: {{product.name}}</li> 
                       <li>price : {{product.price}}</li> 
                     <li>desc : {{product.desc}}</li>   
                    </p>
                    <!-- <a href="{{ product.linkProfile}}" class="btn btn-primary">Buy</a> -->
                    <input type="text" (keyup) ="handleKeyUp($event)" class="form -control mt-3">

                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="card">
                <img src="{{product.linkImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">
                       <li>id : {{product.id}}</li> 
                       <li> name: {{product.name}}</li> 
                       <li>price : {{product.price}}</li> 
                     <li>desc : {{product.desc}}</li>   
                    </p>
                    <!-- <a href="{{ product.linkProfile}}" class="btn btn-primary">Buy</a> -->
                    <input type="text" (keyup) ="handleKeyUp($event)" class="form -control mt-3">

                </div>
            </div>
        </div>





    </div>
</div>